In [3]:
#dictionary
city_population = {
    "chicago" : 3.5,
    "new york" : 7,
    "LA" : 6
}
city_population

{'chicago': 3.5, 'new york': 7, 'LA': 6}

In [5]:
city_population["chicago"]

3.5

In [7]:
city_population["new york"]

7

In [11]:
city_population.keys()

dict_keys(['chicago', 'new york', 'LA'])

In [13]:
city_population.values()

dict_values([3.5, 7, 6])

In [15]:
city_population.items()

dict_items([('chicago', 3.5), ('new york', 7), ('LA', 6)])

In [17]:
"chicago" in city_population# to check whether ut is in dictinary or not

True

In [19]:
#change dictionary items #to update new value.
city_population["LA"]=30
city_population

{'chicago': 3.5, 'new york': 7, 'LA': 30}

In [21]:
city_population.update({"chicago":30})#another way to update value.
city_population

{'chicago': 30, 'new york': 7, 'LA': 30}

In [23]:
#to add new item in dict
city_population["kathmandu"]=20
city_population#remember that key should not be duplicate.

{'chicago': 30, 'new york': 7, 'LA': 30, 'kathmandu': 20}

In [56]:
#OOP CONCEPTS MOST IMPORTANT
#lets creeate a class student
class Student:
 student1=Student()#creating object of class Student here the object is student1
student2=Student()#another object of class
print(type(student1))

<class '__main__.Student'>

In [52]:
class Student:
    school="school of data science"
student1=Student()#creating object from class
student2=Student()
print(student1.school)
print(student2.school)

school of data science
school of data science

In [7]:
#CONSTRUCTOR
class Student:
    def __init__(self,name,level):#yo chai euta constructor banaune syntax nai ho self le chai hami yei kam gardai cham vanera indicate garxa vane aru value chai tala deko parameters anusar hunxa fr --init chai sadhai halnu parne syntax nai ho
          self.name = name
          self.level = level
student1=Student("ash",1)
student2=Student("ahsgs",2)
print(student1.name)
print(student2.name)
print(student2.level)
print(student1.level)

ash
ahsgs
2
1

In [11]:
#__str__ method
class Student:
    def __init__(self, name, level):
        self.name = name
        self.level = level

    def __str__(self):
        return f"Student(name={self.name}, level={self.level})"#in this syntax if we dont use f f indicates formatted string. if we dont use f we will get the output as (name,level) not the value so its important to use f.

# Creating instances of Student
student1 = Student("Ash", 1)
student2 = Student("Jessica", 2)

# Using the __str__ method implicitly
print(student1)  
print(student2)

Student(name=Ash, level=1)
Student(name=Jessica, level=2)

In [13]:
#defining and using method in python
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):#creating method
        return f"{self.name} says Woof!"

    def describe(self):
        return f"{self.name} is {self.age} years old."

# Creating an instance of the Dog class
my_dog = Dog("Buddy", 3)

# Calling methods on the instance
print(my_dog.bark())       
print(my_dog.describe())

Buddy says Woof!
Buddy is 3 years old.

In [21]:
class Shape:
    def __init__(self, color):
        self.color = color

    def area(self):
        return 0  # Default area for a generic shape is 0

    def describe(self):
        return f"This is a shape with color {self.color}."

# Example usage:
shape = Shape("blue")
print(shape.describe()) 
print(shape.area())

This is a shape with color blue.
0

In [1]:
class Student:
    def __init__(self,name,age):
    self.name=name
    self.age=age
    def describe(self)
    return f"student name is {self.name} and age is {self.age}"
student=Student("ashwinee",22)
print(student.describe())

IndentationError: expected an indented block after function definition on line 2 (1346416734.py, line 3)